:root {
  --lato: 'Lato', sans-serif;
  --pblack: #272a31;
  --pred: #ec5242;
  --pgray: #d3d3d3;
  --coco: 'Cocogoose', sans-serif;
  --main: #272a32;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .header-social,
  .logo-div,
  .ccc-button,
  .intro-desk,
  .whole-program {
    display: none;
  }

  .intro-mobile {
    width: 100vw;
    height: auto;
    background-image: url(images/mobile_intro_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
  }

  .a-header-div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    vertical-align: top;
  }

  .header-ul {
    position: relative;
    top: 0%;
    left: 0%;
    padding: 24px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .toggle-nav {
    margin-left: 40px;
    font-size: 50px;
  }

  .a-header-div .closebtn {
    position: absolute;
    margin: 0 0 0 0;
    color: var(--pred);
    font-size: 30px;
    top: 0;
    right: 15px;
  }

  .a-header-div a {
    padding: 10px;
    margin: 30px 0;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    color: var(--pred);
  }

  .main-title {
    margin: 100px 20px 30px 0;
  }

  .title {
    background: linear-gradient(rgb(171, 173, 2), #ec5242);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    margin-left: 40px;
    font-family: var(--coco);
    margin-top: 5px;
  }

  .title-paragraph {
    margin-left: 40px;
    font-family: var(--coco);
    font-size: 25px;
    background: linear-gradient(red, rgb(90, 90, 0));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
  }

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    padding: 30px 20px 30px 30px;
    margin: 20px 30px;
    background: transparent;
  }

  .paragraph-text {
    color: var(--pblack);
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    font-family: var(--lato);
  }

  .date-place {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-bottom: 70px;
  }

  .date {
    padding-top: 10px;
    font-family: var(--coco);
    font-size: 30px;
    color: var(--pblack);
  }

  .place {
    padding: 20px 0;
    font-family: var(--lato);
    font-size: 20px;
    color: var(--pblack);
  }

  .main-program {
    width: 100vw;
    background-color: var(--main);
    background-image: url(images/pattern_bg.png);
  }

  .main-p-title,
  .band-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-title {
    padding-top: 45px;
    color: white;
    font-family: var(--lato);
    font-size: 35px;
  }

  .orange-bar {
    color: #ec5242;
    font-size: 30px;
    font-weight: 800;
  }

  .cards {
    display: flex;
    justify-content: flex-end;
    background: rgba(255, 255, 255, 0.1);
    margin: 15px 15px 15px 20px;
    height: 90px;
    align-items: center;
  }

  .main-img {
    padding: 0 20px 0 40px;
  }

  .second {
    color: var(--pred);
    padding: 0;
    font-family: var(--lato);
    font-size: 14px;
    text-align: start;
  }

  .third {
    color: white;
    padding: 0 15px 0 20px;
    font-family: var(--lato);
  }

  .main-button {
    text-align: center;
  }

  .btn-main {
    margin: 20px 30px;
    background-color: var(--pred);
    color: white;
    font-family: var(--lato);
    height: 100px;
    width: 300px;
    font-weight: 800;
    font-size: 20px;
  }

  .band-title-text {
    padding-top: 45px;
    color: var(--pblack);
    font-family: var(--lato);
    font-size: 35px;
  }

  .members2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }

  .img-band {
    width: 180px;
    height: auto;
    margin: 30px 20px;
  }

  .data-band {
    margin-right: 20px;
    margin-left: 20px;
  }

  .name {
    padding-bottom: 15px;
    font-family: var(--lato);
    font-size: 30px;
    color: var(--pblack);
  }

  .band-position {
    color: #ec5242;
    font-family: cursive;
    font-size: 20px;
  }

  .gray-bar {
    color: gray;
    font-size: 15px;
    font-weight: 800;
  }

  .member-description {
    padding: 25px 0;
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
  }
}

@media only screen and (min-width: 769px) {
  .intro-mobile,
  .a-home,
  .closebtn,
  .main-button {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 75px;
    padding-left: 50px;
  }

  .header-ul {
    display: flex;
    align-items: center;
    padding: 0 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--lato);
  }

  .a-buttons {
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    color: var(--pblack);
    font-size: medium;
  }

  .logo-img {
    width: 125px;
    height: auto;
  }

  .header-social {
    width: auto;
    height: 40px;
    background-color: var(--pblack);
    text-align: end;
    padding-top: 10px;
    padding-right: 65px;
  }

  .a-header-social {
    color: var(--pgray);
    padding-right: 20px;
  }

  .ccc-button {
    height: 50px;
    width: auto;
    padding: 0 10px 0 10px;
    background-color: white;
    border: 5px solid var(--pred);
    font-family: var(--lato);
    color: var(--pred);
    margin-left: 50px;
  }

  .twitter-img {
    padding-right: 20px;
  }

  .a-about {
    color: var(--pred);
  }

  .intro-desk {
    width: 100%;
    height: auto;
    background-image: url(images/main_big.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
  }

  .main-title {
    margin: 100px 20px 30px 0;
  }

  .title {
    background: linear-gradient(rgb(171, 173, 2), #ec5242);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    margin-left: 40px;
    font-family: var(--coco);
    margin-top: 5px;
    padding-right: 400px;
  }

  .title-paragraph {
    margin-left: 40px;
    font-family: var(--coco);
    font-size: 25px;
    background: linear-gradient(red, rgb(90, 90, 0));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
  }

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    padding: 30px 20px 30px 30px;
    margin: 20px 450px 20px 30px;
    background: rgb(248, 248, 248);
  }

  .paragraph-text {
    color: var(--pblack);
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    font-family: var(--lato);
  }

  .date-place {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-bottom: 70px;
  }

  .date {
    padding-top: 10px;
    font-family: var(--coco);
    font-size: 30px;
    color: var(--pblack);
  }

  .place {
    padding: 20px 0;
    font-family: var(--lato);
    font-weight: 600;
    font-size: 20px;
    color: var(--pblack);
  }



  .main-program {
    width: 100%;
    background-color: var(--main);
    background-image: url(images/pattern_bg.png);
  }

  .main-p-title,
  .band-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-title {
    padding-top: 45px;
    color: white;
    font-family: var(--lato);
    font-size: 35px;
  }

  .orange-bar {
    color: #ec5242;
    font-size: 30px;
    font-weight: 800;
  }
  
  .cards-container {
    display: flex;
    gap: 5px;
    margin: 30px 30px;
  }

  .cards {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    width: auto;
  }

  .main-img {
    padding: 40px 0 20px 0;
    transform: scale(1.8);
  }

  .second {
    color: var(--pred);
    margin: 20px;
    font-family: var(--lato);
  }

  .third {
    color: white;
    margin: 0px;
    padding: 0 15px 0 15px;
    font-family: var(--lato);
  }

  .whole-program {
    text-align: center;
    padding: 80px 0 100px 0;
  }

  .see {
    color: white;
    text-decoration: underline;
    font-family: var(--lato);
    font-weight: 500;
  }

  .band-container {
    text-align: center;
    width: 100%;
  }

  .band-title-text {
    padding-top: 45px;
    color: var(--pblack);
    font-family: var(--lato);
    font-size: 35px;
  }

  #members {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin: 40px;
  }

  .members2 {
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    margin: 30px 0;
  }

  .img-band {
    width: 150px;
    height: auto;
    margin: 30px 20px;
  }

  .data-band {
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
  }

  .name {
    padding-bottom: 15px;
    font-family: var(--lato);
    font-size: 30px;
    color: var(--pblack);
  }

  .band-position {
    color: #ec5242;
    font-family: cursive;
    font-size: 20px;
  }

  .gray-bar {
    color: gray;
    font-size: 15px;
    font-weight: 800;
  }

  .member-description {
    padding: 25px 0;
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
  }


}
